<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">bremersee.org</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isAdmin" class="nav-item dropdown" ngbDropdown>
        <a id="configureNavLinks" class="nav-link" ngbDropdownToggle>
          Configure
        </a>
        <div ngbDropdownMenu aria-labelledby="configureNavLinks">
          <a id="categoriesNavItem" class="dropdown-item"
             routerLink="/categories"
             ngbDropdownItem>
            Categories
          </a>
          <a id="linksNavItem" class="dropdown-item"
             routerLink="/links"
             ngbDropdownItem>
            Links
          </a>
        </div>
      </li>
    </ul>
    <app-auth></app-auth>
  </div>
</nav>
