<div class="row">
  <h2 class="col">
    Links
  </h2>
  <div class="col text-right align-content-center">
    <a routerLink="/links/add">Add</a>
  </div>
</div>
<table class="table table-responsive-sm mt-4">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Link</th>
    <th scope="col">Order</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let link of links | async; let i = index">
    <td>{{link.text}}</td>
    <td>{{link.href}}</td>
    <td>{{link.order}}</td>
    <td class="text-right">
      <a routerLink="/links/{{link.id}}/edit">
        <fa-icon [icon]="editIcon"></fa-icon>
      </a>
      <a routerLink="/links/{{link.id}}/delete" class="pl-4">
        <fa-icon [icon]="deleteIcon"></fa-icon>
      </a>
    </td>
  </tr>
  </tbody>
</table>
