<div class="row">
  <h2 class="col">
    Categories
  </h2>
  <div class="col text-right align-content-center">
    <a routerLink="/categories/add">Add</a>
  </div>
</div>
<table class="table table-responsive-sm mt-4">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Order</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories | async; let i = index">
    <td>{{category.name}}</td>
    <td>{{category.order}}</td>
    <td></td>
  </tr>
  </tbody>
</table>
