<div *ngFor="let entries of menuEntries | async">
  <div *ngIf="!entries.pub" class="mt-5">
    <h2>{{entries.category}}</h2>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let link of entries.links">
      <div class="card card-menu">
        <a *ngIf="isAdmin" routerLink="/links/{{link.id}}/edit" style="position: absolute; width: 100%; text-align: right; margin-top: -6px;">
          <fa-icon [icon]="editIcon" style="background-color: grey; font-size: larger; border-radius: 100%; padding: 10px; margin-right: -14px;"></fa-icon>
        </a>
        <a *ngIf="link.cardImageUrl" href="{{link.href}}"
           [target]="link.blank ? '_blank' : undefined">
          <img class="card-img-top" [src]="link.cardImageUrl">
        </a>
        <div class="card-body">
          <h5 *ngIf="link.displayText" class="card-title">
            <span>{{link.text}}</span>
          </h5>
          <p *ngIf="link.description" class="card-text">{{link.description}}</p>
          <a href="{{link.href}}"
             [target]="link.blank ? '_blank' : undefined"
             class="btn btn-primary" style="width: 100%">
            Open
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
