<div *ngFor="let entries of menuEntries | async">
  <div *ngIf="!entries.pub" class="mt-5">
    <h2>{{entries.category}}</h2>
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let link of entries.links">
      <div class="card">
        <div class="card-body">
          <a href="{{link.href}}" [target]="link.blank ? '_blank' : undefined">
            <h5 class="card-title">{{link.text}}</h5>
          </a>
          <p class="card-text">{{link.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
