<div class="row">
  <h2 class="col">
    Delete link
  </h2>
</div>

<ng-container *ngIf="link | async as linkSpecification">
  <div>
    <p class="alert-danger">
      This action cannot be undone. This will permanently delete the link
      <span class="font-weight-bold">{{linkSpecification.text}}</span>
      to <span class="font-weight-bold">{{linkSpecification.href}}</span>.
    </p>
    <div class="row">
      <div class="col">
        <button class="btn btn-danger" (click)="deleteLink()">
          Delete
        </button>
        <button class="btn btn-secondary ml-2" (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-container>
